header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

nav {
margin-top: 26px;
font-family: raleway;
font-weight: 400;
}

.en_tete {
  padding: 25px;
}

.en_tete:hover {
  text-decoration: overline;
  color: #0065FC;

}

#logo {
  width: 10%;
  border-radius: 0;
  object-fit: contain;
}

a {
  text-decoration:none;
  color: black;
}

body {
  font-family: sans-serif;
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 0;
}

.recherche {
  display: flex;
}

input {
border-top: 1px solid #F2F2F2;
border-bottom: 1px solid #F2F2F2;
border-left: 0;
border-right: 0;
font-size: large;
font-weight: bold;
color: black;
padding: 15px;
}

button {
  background-color: #0065FC;
color: white;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;
font-size: large;
font-weight: bold;
padding: 15px;
}

.loca {
  border: 1px solid #F2F2F2;
border-radius: 15px 0px 0px 15px;
background-color: #F2F2F2;
font-size: large;
margin-left: 15px;
padding: 15px;
}

p {
  font-family: raleway;
  font-weight: 400;
 }

.titre_et_filtre {
  display: flex;
  margin-left: 15px;
}

.titre_bas {
  padding-top: 32px;
}

.filtres {
    display: flex;
    margin-left: 10px;
}
  
.styles {
  display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
} 

.styles:hover {
  background-color: #deefff;
}

h3 {
  padding: 0;
  margin: 0;
}

.bleu {
  color: blue;
  padding-right: 10px;
}

.information {
 display: flex;
 align-items: baseline;
 margin: 10px;
}

.bleus {
  border: 1px solid #D9D9D9;
    border-radius:75px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    color: blue;
}

.hebergement_marseille {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
   background-color: #F2F2F2;
   margin-bottom: 30px;
   padding-bottom: 15px ;
}

.titre {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 3px;
}

img {
  border-radius: 20px 20px 0 0;
}

.hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 800px;
}

.detail_hotel {
  background-color: white;
  border-radius: 20px ;
  width: 210px;
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 6px 6px 8px rgba(75, 52, 52, 0.037);
}

.hotel {
  width: 200px;
  height: 120px;
}

h4, p {
  margin: 5px;
}

.toil {
  color: blue;
}

.toill {
  padding-left: 3px;
  color: blue;
}

.grise {
  color: #F2F2F2;
}

.afficher_plus {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
 }

.icone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px; 
}

.bleup {
  color: blue;
  margin-top: 28px ;
}

.populaire {
  display: flex;
  flex-direction: column;
 align-items: center;
}

.hotel_populaire {
  background-color: white;
  border-radius: 20px ;
  display: grid;
  grid-template-columns: 100px 180px;
  gap: 10px;
 margin: 15px;
 width: 280px;
 height: 125px;
 padding: 5px;
 box-shadow: 6px 6px 8px rgba(75, 52, 52, 0.037);
}

.pop {
  width: 100px;
  height: 120px;
  border-radius: 20px 0 0 20px;
}

.toile {
  color: blue;
  margin-top: 50px;
}

.toiles {
  color: blue;
  margin-top: 32px;
}

.acti {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.element_acti {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 6px 0px rgba(53, 52, 52, 0.037);
 
}

.activi {
  width: 250px;
  height: 389px;
}

.lieux {
  padding-left: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #F2F2F2;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.pied_de_page {
  font-family: raleway;
  font-weight: 400;
}

@media screen and (min-width: 993px) and (max-width: 1400px) {
.loupe {
  display: none;
}
}

@media all and (min-width: 768px) and (max-width: 992px) {
 
body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.hebergement_marseille {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.populaire {
  display: flex;
  flex-direction: row;
   justify-content: space-between;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 20px;
  } 

.activi {
    width: 210px;
    height: 320px;
    object-fit: cover;
  }
.lieux {
  padding-left: 5px;
}

.hotel_populaire {
  display: grid;
  grid-template-columns: 100px 150px;
  gap: 8px;
 width: 250px;
 height: 125px;
}
.toile {
  margin-top: 15px;
}

.toiles {
  margin-top: 15px;
}

.icone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30px; 
}
.bleup {
 margin-left: 615px;
 margin-top: 26px;
}
.detail_hotel {
  width: 230px;
  margin: 13px;
}
.hotels {
  padding-left: 60px;
  padding-right: 50px; 
}

.afficher_plus {
  padding-left: 72px;
 }

.titre {
  padding-left: 74px;
}
}
@media all and (max-width: 768px) {

.rechercher {
  display: none;
}

body {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
}
#logo {
  width: 20%;
  border-radius: 0;
  object-fit: contain;
  margin-left: 130px;
}
.test:hover {
  text-decoration: underline;
}

.loca {
  margin-left: 0px;
  padding: 12px;
}
input {
  padding: 10px;
}
button {
  padding: 10px;
}
.titre_bas {
  padding-top: 20px;
}
.titre_et_filtre {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}
.filtres {
  display: grid;
 grid-template-rows: 60px 60px;
 grid-template-columns: 160px 160px ;
 gap: 10px;
 margin-left: 0;
 margin-top: 15px;
 margin-bottom: 5px;
}
.styles {
  margin: 0px;
  padding-top: 15px;
  padding-left: 7px;
}
.information {
  margin-top: 25px;
  margin-bottom: 25px;
 }
.bleu {
  padding-left: 0px;
  padding-right: 4px;
}
.titre_filtre {
font-size: small;
}
.nom_info {
  font-size: medium;
}
.hebergement_marseille {
display: flex;
flex-direction: column-reverse;
}
.hotels{
  background-color: white;
  display: flex;
  flex-direction: column;
}
.titre {
  background-color: white;
  padding-left:18px;
}
.afficher_plus {
  background-color: white;
  display: none;
}
.card {
  padding-bottom: 0;
}

.detail_hotel {
  width: 280px;
  height: 195px;
  box-shadow: 6px 6px 1px rgba(75, 52, 52, 0.037);
}

.hotel {
  width: 270px;
  height: 120px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
li {
  padding: 5px;
}
.titre_bas {
  padding-left: 5px;
}
.acti {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.element_acti {
  width: 280px;
  height: 195px;
  box-shadow: 6px 6px 1px rgba(75, 52, 52, 0.037);
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
}
.activi {
  width: 270px;
  height: 150px;
}
.titre_activite {
margin-left: 25px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0;
  padding-left: 0;
}
}